body {
  font-family: 'Cousine', monospace;
  margin: auto;
  max-width: 1280px;
}

.title {
    font-family: 'Cousine', monospace;
    margin: auto;
    padding: 200px 0px 0px 0px;
    font-size: 84px;
    font-weight: 200;
    text-align: center;
    color: white;
  }

.title2 {
    font-family: 'Cousine', monospace;
    margin: auto;
    padding: 10px 0px 0px 0px;
    font-size: 50px;
    font-weight: 200;
    text-align: center;
    color: white;
  }

.logo {
    margin: auto;
    text-align: center;
    padding: 0px 0px 0px 0px;
}


.mail {
    margin: auto;
    padding: 30px 0px 0px 0px;
    text-align: center;
}


#countdown-container {
    font-family: 'Cousine', monospace;
    margin: auto;
    padding: 50px 0px 0px 0px;
    font-size: 50x;
    font-weight: 800;
    text-align: center;
    color: white;
}


#tixexpire {
    font-family: 'Cousine', monospace;
    margin: auto;
    padding: 10px 0px 50px 0px;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    color: white;
    text-decoration: none;
  }

a {
    color: white
}
a:visited {
    color: white;
}
a:hover {
    color: white;
}
a:focus {
    color: white;
}
a:active {
    color: white;
}

#SOSVideo {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }

#timedate {
    font-family: 'Cousine', monospace;
    margin: auto;
    padding: 15px 0px 50px 0px;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    color: white;
    text-decoration: none;
}